#search-area {
  margin : 10px;
}

#search-heading {
  font-weight : bold;
  font-size : 2.5em;
}

#button-label {
  font-weight : bold;
  font-size : 1.0em;
}

#playdar-detection {
  color : #B00;
  font-weight : bold;
  font-size : 1.3em;
}

#playdar-groupbox {
  background-color : white;
}

.resolve-text {
  font-size : 1.0em;
  color : #AAA;
}

.search {
  font-size : 1.8em;
}

.search-input {
  min-width : 300px;
}

